<mat-toolbar color="primary">
  
    <mat-toolbar-row>
      <span>Pagina Info Covid 19</span>
      <span class="example-spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>reorder</mat-icon>
      </button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item><a href="https://covid19.orcebot.com/" target="_blank">Estadisticas en Perú</a></button>
        <button mat-menu-item><a href="https://www.who.int/" target="_blank">OMS</a></button>
        </mat-menu>

    </mat-toolbar-row>
  </mat-toolbar>
  <img src="https://global.unitednations.entermediadb.net/assets/mediadb/services/module/asset/downloads/preset/Libraries/Production+Library/31-01-20-coronavirus-digital-image-cdc1.jpg/image1440x560cropped.jpg" class="Center">
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile><img src="https://www.gstatic.com/healthricherkp/covidsymptoms/light_fever.gif"></mat-grid-tile>
    <mat-grid-tile><img src="https://www.gstatic.com/healthricherkp/covidsymptoms/light_cough.gif"></mat-grid-tile>
    <mat-grid-tile><img src="https://www.gstatic.com/healthricherkp/covidsymptoms/light_tiredness.gif"></mat-grid-tile>
  </mat-grid-list>

 <mat-horizontal-stepper>
     <mat-step label="Los síntomas más habituales son los siguientes:">
        <ul> 
            <li>Fiebre</li> 
            <li>Tos seca</li> 
            <li>Cansancio</li> 
        </ul>
         <div>
            <button mat-button matStepperNext>Next</button>
          </div>
     </mat-step>
     <mat-step label="Otros síntomas menos comunes son los siguientes">
        <ul> 
            <li>Molestias y dolores</li> 
            <li>Dolor de garganta</li> 
            <li>Diarrea</li> 
            <li>Conjuntivitis</li>
            <li>Dolor de cabeza</li>
            <li>Pérdida del sentido del olfato o del gusto</li>
            <li>Erupciones cutáneas o pérdida del color en los dedos de las manos o de los pies</li>
        </ul>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
    </mat-step>
    <mat-step label="Los síntomas graves son los siguientes">
        <ul> 
            <li>Dificultad para respirar o sensación de falta de aire</li> 
            <li>Dolor o presión en el pecho</li> 
            <li>Incapacidad para hablar o moverse</li> 
        </ul>
        <div>
            <button mat-button matStepperPrevious>Back</button>
          </div>
    </mat-step>
 </mat-horizontal-stepper>
  
 <mat-tab-group animationDuration="2000ms">
    <mat-tab label="Secuelas del coronavirus: recuperados, pero con pulmones dañados">
        <img class="Center" src="https://images.clarin.com/2020/03/12/las-tomografias-computarizadas-de-una___mwCaLogp_0x750__1.jpg">

        <p class="firstp">Investigadores chinos han encontrado una especie de fibra lechosa transparente en los pulmones de algunos pacientes recuperados de COVID-19, lo que sugiere un daño permanente en los órganos.</p>
        <p>Hay cifras esperanzadoras: más de 80.000 personas se han recuperado de la enfermedad pulmonar COVID-19, gracias a que la enfermedad solo tuvo un desarrollo leve o moderado en su caso y/o porque recibieron buena atención médica. Esta es una alta y bienvenida cifra, pero todavía hay relativamente poca información sobre su estado de salud después de que han superado la enfermedad.</p>
        <p>Con gran alivio y alegría, algunos describen cómo han sobrevivido físicamente este tiempo, que ha sido psicológicamente muy estresante: la curación de los síntomas, la incertidumbre, la agotadora fase de aislamiento. Están felices de ser ahora inmunes al SARS-CoV-2 después de haber sobrevivido a la enfermedad.
        </p>
        <p>¿Completa recuperación?</p>
        <p>En los próximos meses, las investigaciones mostrarán si hay algún caso aislado de efectos tardíos permanentes en pacientes recuperados de COVID-19. El foco está principalmente en los pulmones. Dado que el nuevo patógeno CoV-2 del SRAS ataca principalmente las vías respiratorias inferiores, las personas infectadas con un curso moderado o grave de la enfermedad tienen tos seca, dificultad para respirar y/o neumonía.</p>
        <p>Médicos de Hong Kong han descubierto una reducción de la función pulmonar y una persistente disnea en algunos pacientes de coronavirus, a pesar de haber superado la infección viral. Aunque sólo han podido examinar un grupo comparativamente pequeño, hay indicios iniciales de posibles efectos tardíos.
        </p>
        <p>«En algunos pacientes, la función pulmonar podría disminuir entre un 20 y un 30 por ciento después de la recuperación», dice el médico Owen Tsang Tak-yin, director del Centro de Enfermedades Infecciosas del Hospital Princesa Margarita de Hong Kong. «Jadean cuando van un poco más rápido», agregó el galeno. La tomografía de algunos pacientes muestra una especie de neblina lechosa y vidriosa en los pulmones, lo que sugiere un daño en los órganos.
        </p>
        <p>Los hallazgos de Hong Kong confirman las primeras investigaciones de Wuhan a principios de febrero de 2020. En un estudio, los científicos del Hospital Zhongnam de la Universidad de Wuhan analizaron 140 escáneres de pulmón de pacientes con coronavirus y encontraron una nube de aspecto lechoso y transparente en los pulmones de todos ellos.</p>
        <p>Sospecha de fibrosis pulmonar
        </p>
        <p>Las investigaciones posteriores de los pacientes recuperados de COVID-19 deben ahora mostrar si han desarrollado fibrosis pulmonar en la que el tejido conectivo del pulmón se inflama. Esto lleva a una proliferación patológica del tejido conector entre los alvéolos y los vasos sanguíneos que los rodean.</p>
        <p>Esto dificulta que el oxígeno llegue a los vasos sanguíneos, endurece los pulmones y hace que la respiración sea superficial y rápida. Los trastornos respiratorios, la falta de aliento y la tos seca de pecho son las consecuencias, el rendimiento físico disminuye, incluso las actividades cotidianas se vuelven difíciles.</p>
        <p>Si se detecta a tiempo, la fibrosis pulmonar puede ser frenada
        </p>
        <p>La fibrosis pulmonar es incurable, porque las cicatrices en el tejido pulmonar no desaparecen. Pero la progresión de la fibrosis pulmonar puede retrasarse y a veces incluso detenerse, si se detecta a tiempo.
        </p>
        <p>¿Logran la inmunidad los pacientes recuperados de COVID-19?
        </p>
        <p>La mayoría de los expertos están convencidos de que los pacientes COVID-19 recuperados quedan inmunes al nuevo virus una vez superada la enfermedad. Después de todo, el propio sistema inmunológico ha producido exactamente esos anticuerpos durante la infección que hacen al patógeno inofensivo.
        </p>
        <p>Lo mismo aplica a los que tuvieron un desarrollo leve de la enfermedad y en los que sólo se observaron pocos o tal vez ningún síntoma. Sin embargo, su sistema inmunológico reaccionó al patógeno y produjo los anticuerpos correspondientes. Por lo tanto, es muy poco probable que se vuelva a producir una infección por el nuevo coronavirus.</p>
    </mat-tab>
    <mat-tab label="Situation de Arequipa">
        <h2 class="firstp">Arequipa: 9 fallecidos y 217 infectados en 24 horas, van 5 630 casos de coronavirus</h2>
        <h3>Actualmente, del total de casos covid-19, se han hospitalizado a 307 pacientes. 59 están internados en la Unidad de Cuidados Intensivos (UCI)</h3>
        <h5>Jun 11, 2020 El Búho Local </h5>
        <p>Las cifras de fallecidos por coronavirus en la región Arequipa siguen en aumento. Esta vez fueron 9 personas que perdieron la vida en las últimas 24 horas, sumando 120 en total desde que inicio la pandemia.
        </p>
        <p>Los fallecidos son tres varones de 46, 54, 85 años y una mujer de 73 años que estaban internados en el Hospital Nacional Carlos Alberto Seguín Escobedo, de EsSalud. Además, una mujer de 50 años que estaba internada en el hospital Honorio Delgado Espinoza.</p>
        <p>También fallecieron una mujer de 50 años notificada por el Establecimiento de Salud Edificadores Misti, y tres varones de 60, 61 y 64 años que estaban internados en establecimientos de salud privados.</p>
        <p>Además, el día de hoy 217 personas dieron positivo a coronavirus, incrementándose la cifra total de casos a 5 mil 630.</p>
        <h3>Hospitalizados y muestreo en Arequipa</h3>
        <p>Actualmente, del total de casos de covid-19, se han hospitalizado a 307 pacientes. 59 están internados en la Unidad de Cuidados Intensivos (UCI).</p>
        <p>La Dirección de Epidemiología de la Gerencia Regional de Salud ha procesado 103 mil 565 muestras, entre pruebas moleculares y rápidas. De este total, 97 mil 903 resultaron negativas.</p>
        <img class="Center" src="https://elbuho.pe/wp-content/uploads/2020/06/coronavirus-arequipa-5630.jpg">
    </mat-tab>
    <mat-tab label="Preguntas Frecuentes">
      <h2>¿Cómo podemos protegernos a nosotros mismos y a los demás si no sabemos quién está infectado?</h2>
      <p>Practicar la higiene respiratoria y de las manos es importante en TODO momento y la mejor forma de protegerse a sí mismo y a los demás. </p>
      <p>Cuando sea posible, mantenga al menos un metro de distancia entre usted y los demás. Esto es especialmente importante si está al lado de alguien que esté tosiendo o estornudando. Dado que es posible que algunas personas infectadas aún no presenten síntomas o que sus síntomas sean leves, conviene que mantenga una distancia física con todas las personas si se encuentra en una zona donde circule el virus de la COVID‑19.</p>
      <h2>¿Qué debo hacer si no tengo síntomas pero creo que he estado expuesto a la COVID‑19?</h2>
      <h2>¿qué significa ponerse en cuarentena?</h2>
      <p>Ponerse en cuarentena significa separarse de los demás porque ha estado expuesto a alguien con COVID‑19 aunque usted mismo no tenga síntomas. Durante la cuarentena, debe vigilar su estado para detectar síntomas. El objetivo de la cuarentena es prevenir la transmisión. Dado que las personas que enferman de COVID‑19 pueden infectar a otros inmediatamente, la cuarentena puede evitar que se produzcan algunas infecciones.</p>
      <p>En este caso:</p>
      <ul> 
        <li>Ocupe una habitación individual amplia y bien ventilada con retrete y lavabo.</li> 
        <li>Si esto no es posible, coloque las camas al menos a un metro de distancia. </li> 
        <li>Manténgase al menos a un metro de distancia de los demás, incluso de los miembros de su familia.</li> 
        <li>Controle sus síntomas diariamente.</li>
        <li>Permanezca en cuarentena durante 14 días, incluso si se siente bien.</li>
        <li>Si tiene dificultades para respirar, póngase en contacto inmediatamente con su dispensador de atención de salud. Llame por teléfono primero si es posible.</li>
        <li>EPermanezca positivo y con energía manteniendo el contacto con sus seres queridos por teléfono o internet y haciendo ejercicio en casa.</li>
    </ul>
    <p>Sin embargo, si vive en una zona con paludismo (malaria) o dengue, es importante que no ignore la fiebre. Busque ayuda médica. Cuando acuda al centro de salud use una mascarilla si es posible, manténgase al menos a un metro de distancia de las demás personas y no toque las superficies con las manos. En caso de que el enfermo sea un niño, ayúdelo a seguir este consejo. </p>
    <h2>¿Cuál es la diferencia entre aislamiento, cuarentena y distanciamiento?</h2>
    <p>La cuarentena significa restringir las actividades o separar a las personas que no están enfermas pero que pueden haber estado expuestas a la COVID‑19. El objetivo es prevenir la propagación de la enfermedad en el momento en que las personas empiezan a presentar síntomas.</p>
    <p>El aislamiento significa separar a las personas que están enfermas con síntomas de COVID‑19 y pueden ser contagiosas para prevenir la propagación de la enfermedad.</p>
    <p>El distanciamiento físico significa estar físicamente separado. La OMS recomienda mantener una distancia de al menos un metro con los demás. Es una medida general que todas las personas deberían adoptar incluso si se encuentran bien y no han tenido una exposición conocida a la COVID‑19.</p>
      </mat-tab>
  </mat-tab-group>
  <footer layout="row" class="md-padding">
    <div>
      <p>Solo es una pagina informativa</p>
    </div>
  </footer>